# Homework 2

CSYE7105 Instructor: Dr. Handan Liu

<b>Name: Anshul Chaudhary</b>
    
<b>NUID: 002820096</b>

### Import statements

In [12]:
import pandas as pd
import numpy as np
import multiprocessing as mp
import time
import matplotlib.pyplot as plt
from scipy.spatial.distance import cdist

### Part 1: 10 points

##### Q1. Create a Pandas DataFrame df, for the values [0,100) with a seed 1, its shape is (20,000,200).             [2 points]

In [2]:
# set seed to 1
np.random.seed(1)

# initialize the data in a 2d array
data = np.random.randint(0, 100, size=(20000, 200))

# create a dataframe from data
df = pd.DataFrame(data)

In [3]:
# display df shape
df.shape

(20000, 200)

In [4]:
# display head
df.head()

,0,1,2,3,4,5,6,7,8,9,...,190,191,192,193,194,195,196,197,198,199
0,37,12,72,9,75,5,79,64,16,1,...,53,69,36,21,40,77,91,49,47,77
1,40,78,45,87,16,28,45,67,66,78,...,88,93,76,82,11,36,16,30,84,57
2,35,41,81,2,85,93,36,46,80,27,...,36,29,39,28,54,29,55,90,27,60
3,12,17,71,91,7,83,56,51,32,76,...,21,74,21,33,38,37,43,33,95,41
4,71,69,70,23,86,39,31,37,38,56,...,39,3,57,43,53,43,74,98,97,75

##### Q2. Normalize all columns of this df by subtracting the column mean and dividing by standard deviation. And set a timer to calculate this function. [4 points]

###### Method 1 - using df calculations

In [47]:
# initialize time
start_time = time.time()

# mean and std
means = df.mean(axis=0)
stds = df.std(axis=0) 

# subtract mean and divide standard deviation
df_n = (df - means) / stds

# calculate time taken
time_n = time.time() - start_time

In [48]:
print("Time Taken to Normalize Method 1: ", time_n)

Time Taken to Normalize Method 1:  0.06023454666137695

In [43]:
# display normailized head
df_n.head()

,0,1,2,3,4,5,6,7,8,9,...,190,191,192,193,194,195,196,197,198,199
0,-0.441316,-1.296265,0.777541,-1.403266,0.866680,-1.528929,1.021315,0.502320,-1.153580,-1.679439,...,0.119883,0.663837,-0.461409,-0.989387,-0.329302,0.956994,1.434785,-0.012654,-0.086080,0.954392
1,-0.337515,0.978561,-0.156515,1.288086,-1.161000,-0.737627,-0.163384,0.606396,0.579079,1.001399,...,1.334044,1.491703,0.930337,1.126697,-1.335898,-0.464473,-1.167345,-0.668730,1.195781,0.259732
2,-0.510516,-0.296720,1.088893,-1.644798,1.210355,1.498664,-0.476981,-0.122137,1.064224,-0.774221,...,-0.469853,-0.715941,-0.357028,-0.746558,0.156640,-0.707162,0.185763,1.403090,-0.778978,0.363931
3,-1.306325,-1.123930,0.742946,1.426105,-1.470307,1.154619,0.219901,0.051323,-0.599129,0.931767,...,-0.990207,0.836309,-0.983314,-0.573108,-0.398723,-0.429803,-0.230578,-0.565139,1.576874,-0.295996
4,0.735097,0.668358,0.708352,-0.920203,1.244722,-0.359178,-0.651201,-0.434365,-0.391210,0.235445,...,-0.365782,-1.612796,0.269258,-0.226209,0.121930,-0.221784,0.844969,1.679333,1.646164,0.884926

###### Method 2 - using loops

In [49]:
# initialize time
start_time = time.time()

# initialize dict
normalized_data = {}

for column in df.columns:
    # column mean
    mean = df[column].mean() 
    # column std
    std = df[column].std()
    # normalize column
    normalized_data[column] = (df[column] - mean) / std

# Create a DataFrame from the normalized data
df_n_loop = pd.DataFrame(normalized_data)
# calculate time taken
time_n_loop = time.time() - start_time

In [50]:
print("Time Taken to Normalize Method 2: ", time_n_loop)

Time Taken to Normalize Method 2:  0.15558695793151855

In [51]:
# display normailized head
df_n_loop.head()

,0,1,2,3,4,5,6,7,8,9,...,190,191,192,193,194,195,196,197,198,199
0,-0.441316,-1.296265,0.777541,-1.403266,0.866680,-1.528929,1.021315,0.502320,-1.153580,-1.679439,...,0.119883,0.663837,-0.461409,-0.989387,-0.329302,0.956994,1.434785,-0.012654,-0.086080,0.954392
1,-0.337515,0.978561,-0.156515,1.288086,-1.161000,-0.737627,-0.163384,0.606396,0.579079,1.001399,...,1.334044,1.491703,0.930337,1.126697,-1.335898,-0.464473,-1.167345,-0.668730,1.195781,0.259732
2,-0.510516,-0.296720,1.088893,-1.644798,1.210355,1.498664,-0.476981,-0.122137,1.064224,-0.774221,...,-0.469853,-0.715941,-0.357028,-0.746558,0.156640,-0.707162,0.185763,1.403090,-0.778978,0.363931
3,-1.306325,-1.123930,0.742946,1.426105,-1.470307,1.154619,0.219901,0.051323,-0.599129,0.931767,...,-0.990207,0.836309,-0.983314,-0.573108,-0.398723,-0.429803,-0.230578,-0.565139,1.576874,-0.295996
4,0.735097,0.668358,0.708352,-0.920203,1.244722,-0.359178,-0.651201,-0.434365,-0.391210,0.235445,...,-0.365782,-1.612796,0.269258,-0.226209,0.121930,-0.221784,0.844969,1.679333,1.646164,0.884926

##### Q3. Compute the correlation of each row of df with its succeeding row. And set a timer to calculate this function. [4 points]

In [8]:
# initialize time
start_time = time.time()

# calculate the correlation between each row and its succeeding row
correlations = df_n[:-1].apply(lambda row: row.corr(df_n.iloc[row.name + 1]), axis=1)

# calculate time taken
time_c = time.time() - start_time

In [9]:
print("Time Taken for correlations: ", time_c)

Time Taken for correlations:  5.755336046218872

In [10]:
# display correlations head
correlations.head()

0   -0.135744
1   -0.065738
2    0.128677
3   -0.053579
4   -0.038999
dtype: float64

In [21]:
df_n.corr()

,0,1,2,3,4,5,6,7,8,9,...,190,191,192,193,194,195,196,197,198,199
0,1.000000,-0.008850,0.005573,0.001897,-0.004073,-0.014163,-0.005364,-0.001935,0.013153,0.003584,...,0.002609,-0.008555,0.001418,-0.006337,-0.013871,-0.006280,0.012804,-0.000795,0.004662,0.012298
1,-0.008850,1.000000,-0.003515,0.000118,-0.004910,-0.013603,-0.000260,-0.008385,0.000472,-0.003374,...,-0.000180,-0.000973,0.003437,0.003295,0.004769,0.004098,-0.008359,-0.000502,0.010313,0.002182
2,0.005573,-0.003515,1.000000,-0.006822,-0.000808,0.002612,-0.007117,-0.002571,-0.004283,0.003114,...,0.000207,0.007923,-0.006880,-0.001260,0.002745,-0.005256,-0.000039,0.006963,-0.000433,0.005575
3,0.001897,0.000118,-0.006822,1.000000,0.004773,0.008975,0.003998,0.006981,-0.007566,-0.004884,...,0.001215,-0.007241,0.014446,0.001943,0.015345,-0.011912,-0.001951,0.001830,0.005337,-0.001282
4,-0.004073,-0.004910,-0.000808,0.004773,1.000000,-0.000155,-0.002127,-0.004047,-0.004418,-0.016052,...,-0.001593,-0.018166,0.005383,0.011277,-0.003945,-0.010340,-0.005997,-0.009108,-0.008087,0.001655
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,-0.006280,0.004098,-0.005256,-0.011912,-0.010340,-0.000722,0.004978,0.002653,-0.008378,0.002173,...,0.007166,-0.008772,-0.005471,0.002017,-0.001576,1.000000,0.014269,-0.001541,-0.003479,-0.003352
196,0.012804,-0.008359,-0.000039,-0.001951,-0.005997,-0.006368,0.011049,0.001016,0.009445,0.003181,...,-0.005908,-0.003217,0.007046,0.011413,-0.012774,0.014269,1.000000,-0.003089,-0.005357,-0.003602
197,-0.000795,-0.000502,0.006963,0.001830,-0.009108,0.001045,0.005528,0.002267,0.011407,0.000372,...,-0.010230,-0.000380,0.002815,0.001312,-0.001632,-0.001541,-0.003089,1.000000,-0.004638,-0.005901
198,0.004662,0.010313,-0.000433,0.005337,-0.008087,0.009442,0.006765,0.002917,0.006596,-0.008262,...,0.002656,-0.002685,0.002591,-0.002348,-0.000409,-0.003479,-0.005357,-0.004638,1.000000,-0.007959
199,0.012298,0.002182,0.005575,-0.001282,0.001655,0.004487,0.001933,0.012909,-0.005631,0.009165,...,-0.010185,0.000800,-0.005228,-0.003131,0.006429,-0.003352,-0.003602,-0.005901,-0.007959,1.000000

### Part 2: 45 points

##### Q1. Define a function “part2” to do the same thing of Part1-Q2.  [4 points]

In [11]:
def part2(df):
    return (df - df.mean()) / df.std()

##### Q2. Parallelize this function “part2”:                       [12 points]

###### Q2.1 Use multiprocessing.Pool method (map or starmap) to parallelize the function “part2”.            [2pt]

In [ ]:
# Helper function to split the DataFrame into chunks
def split_dataframe(df, num_chunks):
    chunk_size = len(df) // num_chunks
    return [df.iloc[i*chunk_size: (i+1)*chunk_size] for i in range(num_chunks)]

In [ ]:
def parallel_normalize(df, num_cpus):
    df_chunks = split_dataframe(df, num_cpus)
    
    with mp.Pool(num_cpus) as pool:
        normalized_chunks = pool.map(part2, df_chunks)  # Parallel execution
        df_normalized = pd.concat(normalized_chunks)  # Recombine the chunks
    
    return df_normalized